<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='iconee.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <h1>Painel Administrativo</h1>

    <a href="/">Voltar para a página inicial</a>
    <br>
    <a href="/new" class="novo-artigo">Novo Artigo</a>

    <hr>

    {% for article in articles %}

         <h2>{{ article['titulo'] }}</h2>

        <p>{{ article['data'] }}</p>

        <a href="/admin/edit/{{ article['id'] }}">Editar</a>

        <form action="/admin/delete/{{ article['id'] }}" method="POST">
            <button type="submit">Excluir</button>
        </form>

        <hr>

    {% endfor %}
</body>
</html>
