<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Artigos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Editar Artigos</h1>

    <form method="post"">
        
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ artigo['titulo'] }}">

        <br><br>

        <label for="conteudo">Conteúdo:</label>
        <textarea id="conteudo" name="conteudo">{{ artigo['conteudo'] }}</textarea>

        <br><br>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{ artigo['data'] }}">

        <br><br>

        <button type="submit">Salvar alterações</button>

    </form>
</body>
</html>

