<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meu Personal Blog</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icone.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- BANNER PRINCIPAL -->
    <section class="hero">

        <div class="hero-content">

            <h1>Meu<br>Personal Blog</h1>

            <p class="hero-description">
                Artigos, ideias e conhecimentos.
            </p>

        </div>

    </section>


    <!-- CONTEÚDO -->
    <main class="content">

        <!-- TÍTULO DA SEÇÃO -->
        <section class="section-title">

                <h1>ARTIGOS</h1>

                <p class="section-description">
                    Aventure-se por novas ideias, descubra histórias e compartilhe as suas.
                    Leia, explore e, quem sabe, deixe seu próprio artigo por aqui.
                </p>

        </section>


        <!-- LISTA DE ARTIGOS -->
        <section class="articles">

            {% for artigo in articles %}

            <article class="article">

            <div class="article-number">
                {{ loop.index }}
            </div>

                <div class="article-info">

                    <p class="article-date">
                        {{ artigo.data }}
                    </p>

                    <h3>
                        {{ artigo.titulo }}
                    </h3>

                    <p class="article-text">
                        {{ artigo.conteudo[:180] }}...
                    </p>

                    <a href="/article/{{ loop.index }}">
                        Ler artigo →
                    </a>

                </div>

            </article>

            {% endfor %}

        </section>

    </main>

</body>

</html>