<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='iconee.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-card">
        <h1>ADMINISTRAÇÃO</h1>

        <h2>Entre para administrar seus artigos</h2>
        <form method='POST'>

            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <br><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">

            <br><br>

            <button class="entrar-botao" type="submit">Entrar</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

    <a href="{{ url_for('home') }}" class="voltar-botao">
    Voltar ao blog
        </a>

</body>
</html>
