<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novos Artigos</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='iconee.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
</head>
<body>
    <h1>Adicionar um Novo Artigo</h1>

    <p class="subtitulo">Compartilhe ideias, histórias e experiências. Este é o seu espaço para criar e deixar um pouco de você por aqui.
    </p>

    <form method='POST'>

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">

        <br><br>

        <label for='conteudo'>Conteúdo:</label>
        <textarea id="conteudo" name="conteudo"></textarea>

        <br><br>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data">
        <br><br>

        <button type="submit">Adicionar Artigo </button>
        <a href="{{ url_for('admin') }}" class="botao-cancelar">Cancelar</a>

    </form>
</body>
</html>
